@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  font-family: 'Inter', sans-serif;
  padding: 10px;
  padding-right: 25px;
  line-height: 1.5rem;
}
button {
  cursor: pointer;
}
