@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
#root {
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  font-family: 'Inter', sans-serif;
  line-height: 1.5rem;
}
button {
  cursor: pointer;
}
a {
  display: block;
}

label {
}
#pdf ul > li {
  list-style-type: disc;
}
#skills ul > li,
#references ul > li {
  list-style-type: none;
}

.custom-list-disc::before {
  content: '\2022'; /* Unicode character for a bullet point */
  color: #333; /* Adjust the color as needed */
  font-size: 12px; /* Adjust the font size as needed */
  margin-right: 4px; /* Adjust the spacing as needed */
}
